<% include('../layouts/header.ejs') %>
<h1>forget/reset password</h1>
<%  
    if(typeof message!=='undefined'){
        %>
        <p style="color: red;"><%= message %></p>
        <%
    }
%>
<form action="/forget-password" method="post">
    <!-- <input type="email" name="email" placeholder="enter email" required>
    <br><br> -->
    <input type="password" name="password" placeholder="Enter password" required>
    <br><br>
    <input type="hidden" name="user_id" value="<%= user_id %>">
    <input type="submit" value="update">
</form>
<!-- <a href="/forget">forgetpassword</a> -->
<% include('../layouts/footer.ejs') %>