<% include('../layouts/header.ejs') %>
<h1>login</h1>
<%  
    if(typeof message!=='undefined'){
        %>
        <p style="color: red;"><%= message %></p>
        <%
    }
%>
<form action="/login" method="post">
    <input type="email" name="email" placeholder="enter email" required>
    <br><br>
    <input type="password" name="password" placeholder="Enter password" required>
    <br><br>
    <input type="submit" value="login">
</form>

<button onclick="document.location='/forget'">Forget password</button>
<button onclick="document.location='/verification'">Verify your password</button>

<!-- <a href="/forget">forgetpassword</a> -->
<!-- <a href="/verification">verify mail</a> -->
<!-- <button href ></button> -->
<!-- <br><br> -->
<button onclick="document.location='/register'">Register</button>

<% include('../layouts/footer.ejs') %>